body {
  margin: 0;
  padding: 0;
}
.splash-screen {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: Poppins, Helvetica, 'sans-serif';
}

.splash-screen img {
  margin-left: calc(100vw - 100%);
  margin-bottom: 30px;
}

.splash-screen2 {
  position: absolute;
  z-index: 1000;
  width: 93vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #ffffff; */
  font-family: Poppins, Helvetica, 'sans-serif';
}